:root {
    --main-font-color: rgb(29, 21, 1);
    --background-color: #96af87;
    --border-value: #b0caa1 solid 4px;
    --light-color: #b0caa1; 
}

    

body {       
    background-color: var(--background-color);
    color: var(--main-font-color);
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    text-align: center;


    
}
    
header {    
    padding: 1rem;
    display: flex;    
    justify-content: space-around;
    align-items: baseline
}
main {    
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}
#aboutArticle{    

    padding: 1rem;
}
.gallery {
    display: flex;
}

.aboutPictures {
    max-height: 400px;
    border-radius: 1rem;
}
 


aside > article{
    max-width: 200px;
    text-align: center;
    margin: .5rem;
    
    border: var(--border-value);
    border-bottom-left-radius: 2rem;

}
aside > button {
    background-color: var(--background-color);
    border: #f0f0f0 solid 2px;
    border-radius: .5rem;

}
nav  {    
    display: flex;    
    gap: 1rem;
    flex-wrap: wrap;
}
nav > a:hover {    
    color: rgb(2, 0, 0);
    font-weight: bold;
}
    
a:link, a:visited {    
    color: var(--main-font-color);
    border-bottom: var(--border-value);   
    text-align: center;
    text-decoration: none;
}

footer {
    font-weight: bolder;
    margin-top: 2rem;
    text-align: center;

 }


@media (width <= 800px){

    header{
        align-items: center;
        flex-direction: column;
    }
    main{
        margin: .5rem;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #highlights {
        width: fit-content;
    }
    .gallery {
        flex-direction: column;
        
    }

}


