:root {
    --main-font-color: rgb(29, 21, 1);
    --background-color: #96af87;
    --border-value: 4px solid #b0caa1;
    --light-color: #b0caa1; 
}   

body {       
    background-color: var(--background-color);
    color: var(--main-font-color);
    max-width: 1200px;
    margin: auto;
    text-align: center;   
}
    
header {    
    padding: 1rem;
    display: flex;    
    justify-content: space-around;
    align-items: baseline
}
main {    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#contact  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#eventsTable {
    margin: auto;      
    border: var(--border-value);    
    
}
#eventHead > tr, #eventBody > tr {
    background-color: var(--light-color);
}
#eventHead > tr > td, #eventBody > tr > td {
    width: 100px;
}



.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.gallery > img {
    max-width: 120px;
    max-height: 200px;
}
.gallery > article {
    max-width: 260px;
}
article > ul {
    list-style:circle;
    text-align: left;
}


.aboutPictures {
    max-height: 500px;
    border-radius: 1rem;
}


aside > article{
    max-width: 200px;
    text-align: center;
    margin: .5rem;    
    border: var(--border-value);
    border-bottom-left-radius: 2rem;

}
aside > article:nth-of-type(1) {

}
aside > article:nth-of-type(2) {
    position: sticky;
    top:300px
}
article > button {
    background-color: var(--background-color);
    border: #f0f0f0 solid 2px;
    border-radius: .5rem;

}
article > button:hover {
    background-color: var(--light-color);
}
nav  {    
    display: flex;    
    gap: 1rem;
    flex-wrap: wrap;
}
nav > a:hover {    
    color: rgb(2, 0, 0);
    font-weight: bold;
}
    
a:link, a:visited {    
    color: var(--main-font-color);
    border-bottom: var(--border-value);   
    text-align: center;
    text-decoration: none;
}

footer {
    font-weight: bolder;
    margin: 2rem;
    text-align: center;

 }
 #proposal {
    max-width: 200px;
 }

 fieldset {    
    margin: auto;
    padding: 1rem;
    max-width: 300px;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;

 }
 label {
    justify-self: left;
 }
 #submitButton {
    margin: auto;
    width: 100px;
 }


@media (width <= 600px){

    header{
        align-items: center;
        flex-direction: column;
    }
    main{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #highlights {
        width: fit-content;
    }
    .aboutGallery {
        flex-direction: column;
        
    }
    #aboutText > p {
        max-width: 90vw;
        margin: auto;
    }

}


