
.mainClass {    
    display: grid;    
    grid-template-areas:
     "textA textA asideA"
     "gall gall asideA";
}
.main2Columns {
    display: flex;
    justify-content: center; 
    align-items: center;   
    gap: .5rem;
}
#contactMain {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.abutText {
    grid-area: textA;
}
h1 {
    text-align: center;
}
.aboutGallery {
    grid-area: gall;
    display: flex;
    justify-content: center;   
}
.aside2 {
    grid-area: asideA;
    align-self: center;
}
#contact  {
    display: flex;
    flex-direction: column;
}
#eventsTable {
    margin: auto;      
    border: var(--border-value);    
}
#eventHead > tr, #eventBody > tr {
    background-color: var(--light-color);
}
#eventHead > tr > td, #eventBody > tr > td {
    width: 100px;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.gallery > img {
    max-width: 120px;
    max-height: 200px;
}
.gallery > article {
    max-width: 260px;
    padding: .5rem;
}
article > ul {
    list-style:circle;
    text-align: left;
}
.aboutPictures {
    max-height: 250px;    
    border-radius: 1rem;
}
#productsAside {
    position: sticky;
    top:300px
}
article > button {
    background-color: var(--background-color);
    border: var(--border-value);
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}
table > caption {
    margin: 1rem;
}
 #proposal {
    max-width: 200px;
 }
 h3 {
    text-align: center;
 }
 fieldset {    
    margin: auto;
    padding: 1rem;
    max-width: 300px;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;

 }
 label {
    justify-self: left;
 }
 #submitButton {
    margin: auto;
    width: 100px;
 }