:root {
    --main-font-color: rgb(29, 21, 1);
    --background-color: #96af87;
    --border-color: #effce7;
}
body {     
    background-color: var(--background-color);
    color: var(--main-font-color);
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
    
header { 
    padding: 1rem;
    display: flex;    
    justify-content: space-between;
    align-items:end
}
main {    
    display: flex;
    align-items: baseline;
}
article {
    text-align: center;
    padding: 1rem;    
}
#text {
    flex-shrink: 2;
}
#text > div {
    min-height: 400px;
    background: right url(./media/pexels-rquiros-1727123scale.jpg);
    border-radius: 1rem;   


}
blockquote, #author{
    background-color: #f0f0f085;
    padding: .2rem;
    
}
#logo {
    width: 200px;
}

#author {
    text-align: right;
}


aside {
    text-align: center;
    padding: .5rem;
    border: var(--border-color) solid 4px;
    border-bottom-left-radius: 2rem;
    align-self: center;

}
aside > button {
    background-color: var(--background-color);
    border: var(--border-color) solid 2px;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;
}
aside > button:hover {
    background-color: #b0caa1;
}
nav  {      
    display: flex;    
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

nav > a:hover {    
    color: rgb(2, 0, 0);
    font-weight: bold;
}    
a:link, a:visited {    
    color: var(--main-font-color);
    border-bottom: var(--border-color) solid 4px;   
    text-align: center;
    text-decoration: none;
}
.smallPics {
    border-radius: 10%;
    max-height: 100px;
}
#highlights{
    background-color: #b0caa1;
    border-radius: .5rem;
}
#highlights{     
    max-height: 400px;    
    overflow-y: scroll;          
}
.highlightsContainer {
   border: var(--border-color) solid 2px;
   border-radius: .5rem;
   padding: .5rem;
   display: flex;
   align-items: center;
    
}
.highlightsContainer:hover {
    background-color: #7b9c68;
    
}
figcaption {
    margin-left: 1rem;
}
footer {
    font-weight: bolder;
    margin: 2rem;
    text-align: center;

 }

@media (width <= 600px){

    header, main {
        margin: .5rem;
        align-items: center;
        flex-direction: column;
    }
    #highlights {
        width: fit-content;
    }

}


