:root {
    --main-font-color: rgb(29, 21, 1);
    --background-color: #96af87;
    --border-navbar: #effce7 solid 4px;
    --light-color: #b0caa1; 
}
* {
    box-sizing: border-box;    

}
body {     
    background-color: var(--background-color);
    color: var(--main-font-color);
    max-width: 1000px;
           
    margin: 0 auto;
    
} 
header { 
    padding: 1rem;
    display: flex;    
    justify-content: space-around;
    align-items:end
}
main {    
    display: flex;
    justify-content: center;    
    align-items: end;
    padding: 1rem
}

.navTopBar  { 
    border-top: var(--border-navbar);
    border-right: var(--border-navbar);     
    border-bottom: var(--border-navbar);
}
.skipLink {
    position: absolute;
    left: -10000px;
    top: 0;    
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skipLink:focus {
    background-color: var(--light-color);
    position: absolute;
    left: auto;
    top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    border: var(--border-navbar);
    width: auto;
    height: auto;
  }



.navList {
    display: flex;
    margin: auto;    
    font-size: 1.3rem;
    list-style: none;
    padding-left: 0;  
}
.navBttn {    
    font-size: larger;
    padding: .3rem;
    display: flex;
    align-items: center;
    


}
.navBttn:hover,
.bttns:hover {
    background-color: #b0caa1;
}    

#highs {
    
    margin:0 .5rem;
    flex-shrink: 1.5;
 
}
#text {
    text-align: center;
    
}
#text > div {
    min-height: 400px;
    background: right url(./media/pexels-rquiros-1727123scale.jpg);
    border-radius: 1rem;   


}
blockquote, #author{
    background-color: #f0f0f085;
    padding: .2rem;
    
}
.logo {
    width: 200px;
}

#author {
    text-align: right;
}
aside > div:first-of-type {    
    box-sizing: content-box;
    margin-bottom: 1rem;
}

.sideBox {          
    text-align: center;    
    margin-bottom: .5rem;
    border: var(--border-navbar);
    display: flex;
    flex-direction: column;
 
}
.sidePics {
    height: 200px;
    width: 250px;
}
.bttns {
    background-color: var(--background-color);
    border: var(--border-navbar);
    border-radius: .5rem;
    font-size: 1.2rem;   
    margin: .5rem;
}
a:link, a:visited {    
    color: var(--main-font-color);       
    text-decoration: none;
}
.smallPics {
    border-radius: 10%;
    max-height: 100px;
}
#highlights{
    background-color: #b0caa1;
    border-radius: .5rem;
    max-height: 400px;    
    overflow-y: scroll;
}
.highlightsContainer {
   border: var(--border-navbar);
   border-radius: .5rem;
   padding: .2rem;
   display: flex;
   align-items: center;    
}
.highlightsContainer:hover {
    background-color: #dbfadb;
    
}
figcaption {
    text-align: center;
    margin-left: .5rem;
    font-size: 1.1rem;
}
footer {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin: 0 auto;
 }
 .linkContainer {
    display: flex;
    align-items: center;
 }

@media (width <= 850px){
    .mainClass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aside2 {
        
        flex-direction: row;
    }

    #highlights {
        width: fit-content;
    }

    #head{
        margin: .5rem auto;
        align-items: center;
        flex-direction: column;
    }
    main {
        margin: 0 auto;
        display: grid;               
        grid-template-areas:
        "a a a"
        "b b c";
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    #text {
        grid-area: a;
    }
    #highs {
        grid-area: b;
    }
    aside {
        grid-area: c
    }
    #highlights {
        width: fit-content;
    }
}
@media (width <= 550px) {
    #productAside {
        align-self: center;
    }
    header {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    } 
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }
    #homeAside, #eventAside {
        margin-top: 1rem;
        align-self: center;
    }
    .aboutGallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutPictures {
        width: 200px;
    }
    .linkText {        
        display: none;
    }
    iframe {
        width: 250px;
    }
}
@media (width <= 400px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .navList {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}



