body {
    background-color: #d2e4c9;
    color: rgb(112, 65, 36);
    max-width: 1200px;
    margin: auto;
}    
header {
    display: flex;    
    justify-content: space-between;
    align-items:end
}
#logo {
    max-height:;
}
